@import url('https://fonts.cdnfonts.com/css/nexa-bold');

:root {
    --highlight: #addfc6; /* #addfd0 */
    --darker: #496b64;
    --dark: #5a7771;
    --bg: #829D93;
    --primary: #ADC2B5;
    --light: #F0F5F2;
    --primary_50: rgba(177, 208, 199, 0.5);
    --light_50: rgba(223, 245, 233, 0.5);
}

* {
    font-family: 'Nexa', sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Nexa', sans-serif;
}

/* Chrome autofill overwrite */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px var(--primary) inset !important;
}

input:-webkit-autofill{
    -webkit-text-fill-color: var(--dark) !important;
}