.quick_style {
    display: flex;
    align-items: center;
    flex-direction: column
}

body {
    background-color: var(--bg);
    color: var(--darker);
}

button {
    cursor: pointer;
}

.rbc-calendar {
    margin: 0 10%;
}

.rbc-toolbar {
    margin-bottom: 25px;
}

.rbc-event.rbc-selected {
    background-color: var(--highlight_60);
}

/* MONTH: All border elements */
.rbc-month-view {
    border: 0;
}
.rbc-month-row {
    border: 2px solid var(--primary);
}
.rbc-header {
    border-bottom: 0;
}
.rbc-toolbar button {
    border: 2px solid var(--primary);
}
/* .rbc-day-bg + .rbc-day-bg {
    border-left: 2px solid var(--primary_50);
} */
.rbc-header + .rbc-header {
    border-left: 0;
}
.rbc-month-row + .rbc-month-row {
    border-top: 0;
}

/* MONTH: Color overwriting */
.rbc-today {
    background-color: var(--primary_50);
}
.rbc-off-range-bg {
    background-color: var(--dark);
}
.rbc-off-range {
    color: var(--dark);
}
.rbc-date-cell {
    background-color: var(--primary_50);
}
.rbc-toolbar button:active:hover, .rbc-toolbar button:active:focus, .rbc-toolbar button.rbc-active:hover, .rbc-toolbar button.rbc-active:focus {
    background-color: var(--light_50);
    border-color: var(--primary_50);
}
.rbc-toolbar button:active, .rbc-toolbar button.rbc-active {
    background-color: var(--light_50);
    box-shadow: inset 0 3px 5px rgb(90 119 113 / 50%);
    border-color: var(--primary_50);
}
.rbc-toolbar button:active:focus, .rbc-toolbar button.rbc-active:focus {
    background-color: var(--light_50);
    border-color: var(--primary_50);
}
.rbc-toolbar button:hover, .rbc-toolbar button:focus {
    background-color: var(--light_50);
    border-color: var(--primary_50);
}
.rbc-toolbar {
    color: var(--dark);
}
.rbc-show-more {
    background-color: #00000000;
    color: var(--highlight);
}
.rbc-show-more:hover, .rbc-show-more:focus {
    color: var(--highlight_60);
}

/* MONTH: Styling */
.rbc-month-header {
    padding: 10px 0;
}
.rbc-event {
    background-color: var(--highlight);
    color: var(--darker);
    padding-top: 5px;
    border: 3px solid;
    border-color: var(--light_50) var(--dark) var(--dark) var(--light_50);
}
.rbc-event-continues-after {
    border-right: 0;
}
.rbc-event-continues-prior {
    border-left: 0;
}
.rbc-row:first-child {
    margin-bottom: 5px;
}
.rbc-row-segment {
    padding: 0;
}

/* WEEK: All border elements */
.rbc-time-view {
    border: 0;
}
.rbc-time-header.rbc-overflowing {
    border: 0
}
.rbc-time-header-content {
    border: 0;
}
.rbc-day-bg + .rbc-day-bg {
    border: 0;
}
.rbc-time-content {
    border: 0;
}
.rbc-timeslot-group {
    border: 0;
}
.rbc-time-content > * + * > * {
    border-left: 0;
}
/* Left border */
.rbc-time-content > .rbc-day-slot:nth-child(2) {
    border-left: 2px solid var(--primary_50);
}
.rbc-day-slot .rbc-time-slot {
    border: 0;
}
/* Top border + Hour divisions */
.rbc-day-slot .rbc-timeslot-group .rbc-time-slot:first-child {
    border-top: 2px solid var(--primary_50);
}
.rbc-time-content > * + * > .rbc-timeslot-group:nth-child(24) {
    border-bottom: 2px solid var(--primary_50);
}

/* WEEK: Styling */
/* width */
::-webkit-scrollbar {
    width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
    background: var(--bg); 
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--dark); 
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--darker); 
}

/* .rbc-time-view .rbc-today {
    background-color: var(--bg);
} */


/* Agenda */
.rbc-agenda-view > table.rbc-agenda-table {
    border: 0;
}
.rbc-agenda-view > * > table.rbc-agenda-table {
    border: 2px solid var(--light_50);
}
.rbc-agenda-view table.rbc-agenda-table .rbc-agenda-time-cell {
    background-color: var(--primary_50);
}
.rbc-agenda-view table.rbc-agenda-table thead > tr > th {
    border: 0;
}
.rbc-agenda-view table.rbc-agenda-table tbody > tr + tr {
    border: 0;
}
.rbc-agenda-view table.rbc-agenda-table tbody > tr > td + td {
    border: 0;
}

/* Event Dropdown panel */
/* note: needs to be a class in order for the "show" togglable class to work */
.eventDropdown {
    background-color: var(--light);
    top: 0;
    width: 100%;
    height: 100px;
    padding: 10px;

    display: none;
    position: absolute;
    z-index: 5;
}
.show { 
    display: flex; 
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
}
.eventDropdown * {
    background-color: var(--primary_50);
    border: 0;
}
.eventDropdown *:focus {
    outline: 0;
}
.eventDropdown > *, .eventDropdown input {
    border-radius: 5px;
    margin: 5px;
    color: var(--dark);
    font-size: 1.2rem;
    font-weight: lighter;
}
.react-datepicker-wrapper, .react-datepicker-wrapper > * {
    background-color: #00000000;
}
.react-datepicker-wrapper, .react-datepicker-wrapper input {
    width: 200px;
    padding: 0;
}
.react-datepicker__tab-loop {
    width: 0;
    margin: 0;
    padding: 0;
}
.eventDropdown .row:first-child .input {
    width: 350px;
}
.eventDropdown > button {
    border: 3px solid;
    border-color: mintcream var(--bg) var(--bg) mintcream;
}
input[type="text" i] {
    padding: 0;
    padding-top: 5px;
    text-indent: 10px;
}
.col {
    display: flex;
    flex-direction: column;
    background-color: #00000000;
}
.row {
    display: flex;
    flex-direction: row;
    background-color: #00000000;
    align-items: center;
    justify-content: space-between;
}
.eventDropdown h3 {
    background-color: #00000000;
    margin: 5px 0;
    margin-top: 10px;
}

/* Date Picker */
.react-datepicker-popper, .react-datepicker-popper > div {
    background-color: #ffffff00;
}
.react-datepicker__navigation-icon::before {
    border-color: var(--dark);
}
.react-datepicker__navigation:hover > .react-datepicker__navigation-icon::before {
    border-color: var(--primary);
}
.react-datepicker {
    background-color: var(--light);
    color: var(--dark);
    border: 2px solid var(--dark);
}
.react-datepicker * {
    background-color: var(--light);
    color: var(--dark);
}
.react-datepicker__day--outside-month {
    color: var(--primary);
}
.react-datepicker-popper[data-placement^=bottom] .react-datepicker__triangle::before {
    top: -2px;
    border-bottom-color: var(--dark);
}
.react-datepicker__triangle::after {
    border-bottom-color: var(--light);
}

/* Card pop-up shenanigans */
.card {
    display: block;
    position: absolute;
    overflow: visible;
    z-index: 5;

    top: 0;
}
.card > h3 {
    margin: 5px 0;
    color: var(--light);
}
.card_inner {
    height: 100px;
    opacity: 80%;
    border: 0;
    border-radius: 3px;
    box-shadow: 0px 0px 0px 8px var(--light);
    background-color: var(--light);
}
.rbc-month-row {
    overflow: visible;
}