.quick_style {
    display: flex;
    align-items: center;
    flex-direction: column
}

body {
    background-color: var(--bg);
    color: var(--darker);
}

.rbc-calendar {
    margin: 0 10%;
}

/* MONTH: All border elements */
.rbc-month-view {
    border: 0;
}
.rbc-month-row {
    border: 2px solid var(--primary);
}
.rbc-header {
    border-bottom: 0;
}
.rbc-toolbar button {
    border: 2px solid var(--primary);
}
.rbc-day-bg + .rbc-day-bg {
    border-left: 2px solid var(--primary_50);
}
.rbc-header + .rbc-header {
    border-left: 0;
}
.rbc-month-row + .rbc-month-row {
    border-top: 0;
}
.rbc-toolbar button:active, .rbc-toolbar button.rbc-active {
    border: 2px solid var(--primary);
    background-color: var(--primary);
}

/* MONTH: Color overwriting */
.rbc-today {
    background-color: var(--primary_50);
}
.rbc-off-range-bg {
    background-color: var(--dark);
}
.rbc-off-range {
    color: var(--dark);
}
.rbc-date-cell {
    background-color: var(--primary_50);
}

/* MONTH: Styling */
.rbc-month-header {
    padding: 10px 0;
    padding-top: 25px;
}
.rbc-event {
    background-color: var(--highlight);
    color: var(--darker);
    padding-top: 5px;
}